
.sticky-wrapper {
	padding-bottom: 50px;
	min-height: 100%;
}
.body{
	color: red;
}

#error-text{
	color:red;
}

.hidden{
	visibility: hidden;
}

.espacio{
	height: 30px;
}

.no-margin-bottom{
	margin-bottom: 0px;
}

.carousel{
	height: 100% !important;
}

.menu-panel{
	height: 80vh;
}
