<template name="HomeUser">
	<div id="wrap">
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-container container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation..
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" id="page-title" href="#">
						Welcome {{userFullName}}!
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
				</div>
			</div>
		</div>
		<div id="content" class="page-container">
			<div id="title_row">
			</div>
			<div id="subcontent">
				<!-- tarjeta desayuno -->
				<div class="row">
	        <div id="desayuno" class="col s12 m6">
	          <div class="card hoverable desayuno">
	            <div class="card-content">
	              <span class="card-title">Desayuno</span>
	              <p>Horario: <strong>8AM - 10AM</strong></p>
								<p>
									Raciones: <br />
									1 Leche <br />
									1 Fruta <br />
									1 Cereal S/G <br />
									1 Grasa <br />
								</p>
	            </div>
	            <div class="card-action">
	              <a class="desayuno-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="desayuno-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
						    <div class="carousel-item red white-text" href="#one!">
						      <h2>Cereal con leche y fresas con crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de fresa rebanada</p>
									<p class="white-text">1/2 taza de cereal sin azúcar</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item amber white-text" href="#two!">
						      <h2>Pan tostado y yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de papaya picada</p>
									<p class="white-text">1 rebanada de pan tostado</p>
									<p class="white-text">1 1/2 c de mantequilla sin sal</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item green white-text" href="#three!">
						      <h2>Avena con melón</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item blue white-text" href="#four!">
						      <h2>Licuado de melón con mini sándwich con queso crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de queso crema</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item purple white-text" href="#five!">
						      <h2>Melón con yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3 C de granola baja en grasa</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item cyan white-text" href="#six!">
						      <h2>Yogurt con manzana y crema ligera</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1/2 taza de manzana picada</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item pink white-text" href="#seven!">
						      <h2>Avena con manzana y coco</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1/2 taza de manzana picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="textarea1" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta media mañana -->
	        <div id="media-manana" class="col s12 m6">
	          <div class="card hoverable media-manana">
	            <div class="card-content">
	              <span class="card-title">Media Mañana</span>
	              <p>Horario: <strong>11AM - 1PM</strong></p>
								<p>
									Raciones: <br />
									1 Leche <br />
									1 Fruta <br />
									1 Cereal S/G <br />
									1 Grasa <br />
								</p>
	            </div>
	            <div class="card-action">
	              <a class="media-manana-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="media-manana-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
						    <div class="carousel-item red white-text" href="#one!">
						      <h2>Cereal con leche y fresas con crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de fresa rebanada</p>
									<p class="white-text">1/2 taza de cereal sin azúcar</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item amber white-text" href="#two!">
						      <h2>Pan tostado y yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de papaya picada</p>
									<p class="white-text">1 rebanada de pan tostado</p>
									<p class="white-text">1 1/2 c de mantequilla sin sal</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item green white-text" href="#three!">
						      <h2>Avena con melón</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item blue white-text" href="#four!">
						      <h2>Licuado de melón con mini sándwich con queso crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de queso crema</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item purple white-text" href="#five!">
						      <h2>Melón con yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3 C de granola baja en grasa</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item cyan white-text" href="#six!">
						      <h2>Yogurt con manzana y crema ligera</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1/2 taza de manzana picada</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item pink white-text" href="#seven!">
						      <h2>Avena con manzana y coco</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1/2 taza de manzana picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="textarea1" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta comida -->
	        <div id="comida" class="col s12 m6">
	          <div class="card hoverable comida">
	            <div class="card-content">
	              <span class="card-title">Comida</span>
	              <p>Horario: <strong>2PM - 4PM</strong></p>
								<p>
									Raciones: <br />
									1 Leche <br />
									1 Fruta <br />
									1 Cereal S/G <br />
									1 Grasa <br />
								</p>
	            </div>
	            <div class="card-action">
	              <a class="comida-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="comida-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
						    <div class="carousel-item red white-text" href="#one!">
						      <h2>Cereal con leche y fresas con crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de fresa rebanada</p>
									<p class="white-text">1/2 taza de cereal sin azúcar</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item amber white-text" href="#two!">
						      <h2>Pan tostado y yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de papaya picada</p>
									<p class="white-text">1 rebanada de pan tostado</p>
									<p class="white-text">1 1/2 c de mantequilla sin sal</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item green white-text" href="#three!">
						      <h2>Avena con melón</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item blue white-text" href="#four!">
						      <h2>Licuado de melón con mini sándwich con queso crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de queso crema</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item purple white-text" href="#five!">
						      <h2>Melón con yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3 C de granola baja en grasa</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item cyan white-text" href="#six!">
						      <h2>Yogurt con manzana y crema ligera</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1/2 taza de manzana picada</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item pink white-text" href="#seven!">
						      <h2>Avena con manzana y coco</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1/2 taza de manzana picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="textarea1" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta media tarde -->
	        <div id="media-tarde" class="col s12 m6">
	          <div class="card hoverable media-tarde">
	            <div class="card-content">
	              <span class="card-title">Media Tarde</span>
	              <p>Horario: <strong>5PM - 8PM</strong></p>
								<p>
									Raciones: <br />
									1 Leche <br />
									1 Fruta <br />
									1 Cereal S/G <br />
									1 Grasa <br />
								</p>
	            </div>
	            <div class="card-action">
	              <a class="media-tarde-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="media-tarde-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
						    <div class="carousel-item red white-text" href="#one!">
						      <h2>Cereal con leche y fresas con crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de fresa rebanada</p>
									<p class="white-text">1/2 taza de cereal sin azúcar</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item amber white-text" href="#two!">
						      <h2>Pan tostado y yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de papaya picada</p>
									<p class="white-text">1 rebanada de pan tostado</p>
									<p class="white-text">1 1/2 c de mantequilla sin sal</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item green white-text" href="#three!">
						      <h2>Avena con melón</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item blue white-text" href="#four!">
						      <h2>Licuado de melón con mini sándwich con queso crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de queso crema</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item purple white-text" href="#five!">
						      <h2>Melón con yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3 C de granola baja en grasa</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item cyan white-text" href="#six!">
						      <h2>Yogurt con manzana y crema ligera</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1/2 taza de manzana picada</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item pink white-text" href="#seven!">
						      <h2>Avena con manzana y coco</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1/2 taza de manzana picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="textarea1" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta cena -->
	        <div id="cena" class="col s12 m6">
	          <div class="card hoverable cena">
	            <div class="card-content">
	              <span class="card-title">Cena</span>
	              <p>Horario: <strong>9PM - 11PM</strong></p>
								<p>
									Raciones: <br />
									1 Leche <br />
									1 Fruta <br />
									1 Cereal S/G <br />
									1 Grasa <br />
								</p>
	            </div>
	            <div class="card-action">
	              <a class="cena-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="cena-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
						    <div class="carousel-item red white-text" href="#one!">
						      <h2>Cereal con leche y fresas con crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de fresa rebanada</p>
									<p class="white-text">1/2 taza de cereal sin azúcar</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item amber white-text" href="#two!">
						      <h2>Pan tostado y yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de papaya picada</p>
									<p class="white-text">1 rebanada de pan tostado</p>
									<p class="white-text">1 1/2 c de mantequilla sin sal</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item green white-text" href="#three!">
						      <h2>Avena con melón</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item blue white-text" href="#four!">
						      <h2>Licuado de melón con mini sándwich con queso crema</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de queso crema</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item purple white-text" href="#five!">
						      <h2>Melón con yogurt</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1 taza de melón picado</p>
									<p class="white-text">3 C de granola baja en grasa</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
						    <div class="carousel-item cyan white-text" href="#six!">
						      <h2>Yogurt con manzana y crema ligera</h2>
						      <p class="white-text">3/4 taza de yogurt light</p>
									<p class="white-text">1/2 taza de manzana picada</p>
									<p class="white-text">1 rebanada de pan integral</p>
									<p class="white-text">1 C de crema ligera</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item pink white-text" href="#seven!">
						      <h2>Avena con manzana y coco</h2>
						      <p class="white-text">1 taza de leche descremada</p>
									<p class="white-text">1/2 taza de manzana picado</p>
									<p class="white-text">3/4 taza de avena cocida</p>
									<p class="white-text">1 1/2 C de coco rallado</p>
									<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
						    </div>
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="textarea1" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container-fluid">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>
