<template name="HomeUser">
	<div id="wrap">
		<div class="tituloUser gray-lighten-5">
			<div class="row">
				<h3>Menú</h3>
			</div>
			<div class="row">
				Consulta tu menú en las últimas fechas y registra que comiste
			</div>
		</div>
		<div id="content" class="page-container">
			<div id="title_row" class="row">
				<div class="col s6 offset-s3 m4 offset-m4">
					<input type="date" class="datepicker center-align">
				</div>
			</div>
			<div id="subcontent">
				<!-- tarjeta desayuno -->
				<div class="row">
	        <div id="desayuno" class="col s12 m6">
	          <div class="card hoverable desayuno">
	            <div class="card-content">
	              <span class="card-title">Desayuno</span>
	              <p>Horario: <strong>8AM - 10AM</strong></p>
								<p>
									Raciones: <br />
									{{racionDesayuno}}
								</p>
	            </div>
	            <div class="card-action">
	              <a class="desayuno-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="desayuno-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
								{{#each platillosDesayuno}}
							    <div class="carousel-item {{colorTarjeta}} white-text" href={{hrefTarjeta}}>
										<div class="container">
											<h2>{{this.titulo}}</h2>
								      <p class="white-text">{{this.detalle}}</p>
											<a class="btn waves-effect white grey-text darken-text-2 comer-desayuno">comí esto</a>
										</div>
							    </div>
								{{/each}}
								<div class="carousel-item brown white-text" href="#eight!">
									<div class="container">
							      <h2>Otro</h2>
							      <p class="white-text">Cuentanos que comiste</p>
										<div class="input-field col s6 offset-s3">
						          <textarea id="otro-desayuno" class="materialize-textarea"></textarea>
						        </div>
										<div class="col s12">
											<a class="btn waves-effect white grey-text darken-text-2 comer-otro-desayuno">comí esto</a>
										</div>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta media mañana -->
	        <div id="media-manana" class="col s12 m6">
	          <div class="card hoverable media-manana">
	            <div class="card-content">
	              <span class="card-title">Media Mañana</span>
	              <p>Horario: <strong>11AM - 1PM</strong></p>
								<p>
									Raciones: <br />
									{{racionMediaMañana}}
								</p>
	            </div>
	            <div class="card-action">
	              <a class="media-manana-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="media-manana-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
								{{#each platillosMediaMañana}}
							    <div class="carousel-item {{colorTarjeta}} white-text" href={{hrefTarjeta}}>
										<div class="container">
											<h2>{{this.titulo}}</h2>
								      <p class="white-text">{{this.detalle}}</p>
											<a class="btn waves-effect white grey-text darken-text-2 comer-media-mañana">comí esto</a>
										</div>
							    </div>
								{{/each}}
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="otro-media-mañana" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2 comer-otro-media-mañana">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta comida -->
	        <div id="comida" class="col s12 m6">
	          <div class="card hoverable comida">
	            <div class="card-content">
	              <span class="card-title">Comida</span>
	              <p>Horario: <strong>2PM - 4PM</strong></p>
								<p>
									Raciones: <br />
									{{racionComida}}
								</p>
	            </div>
	            <div class="card-action">
	              <a class="comida-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="comida-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
								{{#each platillosComida}}
							    <div class="carousel-item {{colorTarjeta}} white-text" href={{hrefTarjeta}}>
										<div class="container">
											<h2>{{this.titulo}}</h2>
								      <p class="white-text">{{this.detalle}}</p>
											<a class="btn waves-effect white grey-text darken-text-2 comer-comida">comí esto</a>
										</div>
							    </div>
								{{/each}}
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="otro-comida" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2 comer-otro-comida">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta media tarde -->
	        <div id="media-tarde" class="col s12 m6">
	          <div class="card hoverable media-tarde">
	            <div class="card-content">
	              <span class="card-title">Media Tarde</span>
	              <p>Horario: <strong>5PM - 8PM</strong></p>
								<p>
									Raciones: <br />
									{{racionMediaTarde}}
								</p>
	            </div>
	            <div class="card-action">
	              <a class="media-tarde-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="media-tarde-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
								{{#each platillosMediaTarde}}
							    <div class="carousel-item {{colorTarjeta}} white-text" href={{hrefTarjeta}}>
										<div class="container">
											<h2>{{this.titulo}}</h2>
								      <p class="white-text">{{this.detalle}}</p>
											<a class="btn waves-effect white grey-text darken-text-2 comer-media-tarde">comí esto</a>
										</div>
							    </div>
								{{/each}}
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="otro-media-tarde" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2 comer-otro-media-tarde">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				<!-- tarjeta cena -->
	        <div id="cena" class="col s12 m6">
	          <div class="card hoverable cena">
	            <div class="card-content">
	              <span class="card-title">Cena</span>
	              <p>Horario: <strong>9PM - 11PM</strong></p>
								<p>
									Raciones: <br />
									{{racionCena}}
								</p>
	            </div>
	            <div class="card-action">
	              <a class="cena-link" href="#">Ver opciones</a>
	            </div>
	          </div>
	        </div>
					<div id="cena-details" class="col s12 menu-details">
		        <div class="card-panel grey lighten-4 menu-panel">
							<div class="carousel carousel-slider center" data-indicators="true">
						    <!-- <div class="carousel-fixed-item center">
						      <a class="btn waves-effect white grey-text darken-text-2">button</a>
						    </div> -->
								{{#each platillosCena}}
							    <div class="carousel-item {{colorTarjeta}} white-text" href={{hrefTarjeta}}>
										<div class="container">
											<h2>{{this.titulo}}</h2>
								      <p class="white-text">{{this.detalle}}</p>
											<a class="btn waves-effect white grey-text darken-text-2 comer-cena">comí esto</a>
										</div>
							    </div>
								{{/each}}
								<div class="carousel-item brown white-text" href="#eight!">
						      <h2>Otro</h2>
						      <p class="white-text">Cuentanos que comiste</p>
									<div class="input-field col s6 offset-s3">
					          <textarea id="otro-cena" class="materialize-textarea"></textarea>
					        </div>
									<div class="col s12">
										<a class="btn waves-effect white grey-text darken-text-2 comer-otro-cena">comí esto</a>
									</div>
						    </div>
						  </div>
		        </div>
		      </div>

				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container-fluid">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>
