<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Nutricion Prosalud
	</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
</template>

<template name="FreeLayout">
	<div id="content" class="sticky-wrapper">
		<nav>
			<a href="#!" class="brand-logo center">
				C-Salud
			</a>
		</nav>
		{{> sAlert}}
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
	</div>
</template>

<template name="PublicLayout">
	<div id="content" class="sticky-wrapper">
		<nav>
			<a href="#!" class="brand-logo center">
				C-Salud
			</a>
		</nav>
		<div class="navbar-spacer">
		</div>
		{{> sAlert}}
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
	</div>
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<nav>
	    <div class="nav-wrapper">
				<a href="#!" class="brand-logo center">
					C-Salud
				</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        {{> PrivateLayoutRightMenu}}
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        {{> PrivateLayoutRightMenu}}
	      </ul>
	    </div>
	  </nav>
		<div class="navbar-spacer">
		</div>
		{{> sAlert}}
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
	</div>
</template>

<template name="PrivateLayoutRightMenu">
	<li>
		<a href={{homeLink}}>
			<i class="material-icons left">
				home
			</i>
			Home
		</a>
	</li>
	<li >
		<a href="{{pathFor route='perfil'}}">
			<i class="material-icons left">
				account_circle
			</i>
			Perfil
		</a>
	</li>
	<li>
		<a href="#" id="logout">
			<i class="material-icons left">
				exit_to_app
			</i>
			Logout
		</a>
	</li>
</template>
