<template name="Mensajes">
	<div id="wrap">
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-container container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation..
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
						<span class="icon-bar">
						</span>
					</button>
					<a class="navbar-brand" id="page-title" href="#">
						Mensajes
					</a>
				</div>
				<div id="menu" class="collapse navbar-collapse">
				</div>
			</div>
		</div>
		<div id="content" class="page-container">
			<div id="title_row">
				<h4><i class="fa fa-angle-right"></i> Mensajes</h4>
			</div>
			<div id="subcontent">
				<div class="row no-margin-bottom chat">
					<div class="col s12">
						<ul class="list-group">
							<li class="list-group-item left-align"><h6>Juan Perez</h6><img src="images/ui-noimg.png" class="circle" style="width:20px"> ¿Hola cómo estas?</li>
							<li class="list-group-item right-align"><h6>Anna Gaby Bremer</h6>bien ¿y tú? <img src="images/ui-noimg.png" class="circle" style="width:20px"></li>
							<li class="list-group-item left-align"><h6>Juan Perez</h6><img src="images/ui-noimg.png" class="circle" style="width:20px"> Tengo un perro que quiero dar en adopción y quería ver si tú me podrías ayudar</li>
							<li class="list-group-item left-align"><h6>Juan Perez</h6><img src="images/ui-noimg.png" class="circle" style="width:20px"> Tengo un perro que quiero dar en adopción y quería ver si tú me podrías ayudar</li>
							<li class="list-group-item left-align"><h6>Juan Perez</h6><img src="images/ui-noimg.png" class="circle" style="width:20px"> Tengo un perro que quiero dar en adopción y quería ver si tú me podrías ayudar</li>
						</ul>
					</div>
				</div>
				<div class="col s12">
					<div class="row no-margin-bottom">
						<div class="input-field col s12">
							<div class="card-panel white no-margin-bottom"><input placeholder="Escribe aquí tu Respuesta" id="respuesta" type="text"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container-fluid">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>
